.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statList {
  display: flex;
}

.statList li {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: none;
  width: 80px;
  height: 80px;
  color: white;
}

.title {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: grey;
}

.label {
  padding-top: 10px;
  font-size: 14px;
}

.percentage {
  padding-top: 10px;
  font-size: 20px;
}

.item:nth-child(1) {
  background-color: rgba(17, 200, 232, 0.895);
}

.item:nth-child(2) {
  background-color: rgb(168, 77, 253);
}

.item:nth-child(3) {
  background-color: rgb(220, 23, 95);
}

.item:nth-child(4) {
  background-color: rgb(75, 182, 245);
}

.item:nth-child(5) {
  background-color: rgb(100, 204, 86);
}
